# Introduction to Python - Some general exercises
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q 

The purpose is to "warm up" with Python.

### Add and multiply the two numbers below.

In [2]:
nr1 = 5
nr2 = 10

In [3]:
print(nr1 + nr2)
print(nr1 * nr2)

15
50

# Lists

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [ ]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [5]:
def check_first_last_equal(lst):
    return lst[0] == lst[-1]

list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

result_1 = check_first_last_equal(list_1)
result_2 = check_first_last_equal(list_2)

print("List 1:", result_1)  
print("List 2:", result_2)

List 1: True
List 2: False

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [9]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [11]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

number_5 = list_containing_a_list[2][3]

whole_list = list_containing_a_list[2]

sublist_12_13_5 = list_containing_a_list[2][1:4]

number_8888 = list_containing_a_list[-4]

subset = list_containing_a_list[:3]

print("Number 5:", number_5)
print("Whole list:", whole_list)
print("Sublist 12, 13, 5:", sublist_12_13_5)
print("Number 8888:", number_8888)
print("Subset 1, 2, [10, 12, 13, 5, 100]:", subset)

Number 5: 5
Whole list: [10, 12, 13, 5, 100]
Sublist 12, 13, 5: [12, 13, 5]
Number 8888: [10, 12, 13, 5, 100]
Subset 1, 2, [10, 12, 13, 5, 100]: [1, 2, [10, 12, 13, 5, 100]]

# Tuples

### Explain with your own words what the code below containing two scenarios does.

In [32]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

#Funktionen f(x) tar ett tal, x, och skapar en samling av fyra värden:

# Talet x
#Talet x upphöjt till 2
# Talet x upphöjt till 3
# Talet x upphöjt till 4
# Scenario 1
# I Scenario 1 kallar vi på funktionen med talet 2. Den skapar då (2, 4, 8, 16). Varje värde lagras i en egen variabel: x1, x2, x3, och x4. Dessa skrivs ut en efter en:

2
4
8
16

# Scenario 2
# I Scenario 2 kallar vi på funktionen med talet 3. Den skapar (3, 9, 27, 81). Hela denna samling lagras i en variabel x och skrivs ut direkt som en enda grupp:


(3, 9, 27, 81)

# Sammanfattning
# Funktionen f(x) tar ett tal och ger tillbaka det talet och dess upphöjningar i en samling (tupel), som du sedan kan använda som en helhet eller dela upp i flera variabler.

2
4
8
16

(3, 9, 27, 81)

(3, 9, 27, 81)

### Count the number of times 24 occurs in the tupple.

In [ ]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [14]:

tuple_22 = (24, 2, 4, 24, 24, 5)


count_24 = tuple_22.count(24)


print(count_24)

3

# Sets

### Find all the items that are in *both* lists and return those values in a list.

In [ ]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [15]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

common_items = list(set(l1) & set(l2))

print(common_items)

['Julia', 'Python']

### Find all the unique elements of the list.

In [ ]:
l = [1, 1, 2, 2, 3, 1, 2]

In [16]:
l = [1, 1, 2, 2, 3, 1, 2]

unique_elements = list(set(l))

print(unique_elements)

[1, 2, 3]

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [17]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

for item in looping_list:
    print(item)

0
a
b
[1, 2, 3]
('Python', 'R')
55

### Write a for loop to print out each letter in the string.

In [ ]:
for_string = 'Python!'

In [18]:
for_string = 'Python!'

for letter in for_string:
    print(letter)

P
y
t
h
o
n
!

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [ ]:
numbers = [10, 20, 34, 46, 55]

In [19]:
numbers = [10, 20, 34, 46, 55]

for number in numbers:
    if number % 5 == 0:
        print(number)

10
20
55

# Functions

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [22]:
def sum_and_subtract(a, b):
    summation = a + b
    subtraction = a - b
    return summation, subtraction

result_sum, result_subtract = sum_and_subtract(10, 5)
print("Sum:", result_sum)
print("Subtraction:", result_subtract)

Sum: 15
Subtraction: 5

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [26]:
def f(a, b, operation):
    if operation == 'add':
        return a + b
    elif operation == 'multiply':
        return a * b
    else:
        raise ValueError('Choose either "add" or "multiply"')

try:
    print(f(2, 5, 'add'))
    print(f(2, 5, 'multiply'))
    print(f(2, 5, 'test'))
except ValueError as e:
    print(e)

7
10
Choose either "add" or "multiply"

# General Exercises

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [ ]:
number = 8

In [ ]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

In [ ]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

In [31]:
# Första metoden: Varje villkor utvärderas oberoende, vilket gör att flera utskrifter kan ske

# Andra metoden: Endast det första sanna villkoret körs, resten ignoreras


# Första metoden: När du vill informera användaren om alla gränser ett nummer underskrider.
number = 8
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')
# Output: 'Less than 10' och 'Less than 100'

# Andra metoden: När du vill stoppa vid första relevanta meddelandet för en viss kategori.
number = 8
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')
# Output: 'Less than 10'

Less than 10
Less than 100
Less than 10